# CLASE 8

### Lista por compresión:

In [10]:
valores = "32,45,11,87,20,48"
enteros = [int(valor) for valor in valores.split(',') ]
enteros

[32, 45, 11, 87, 20, 48]

### Condiciones en comprensiones

In [11]:
valores = "32,45,11,87,20,48"
int_values = [int(v) for v in valores.split(',') if v.startswith('4')]
enteros
int_values

[45, 48]

### Anidamiento en comprensiones

In [19]:
values = "32,45,11,87,20,48"
svalores = values.split(',')

combinaciones = [f'{v1}x{v2}' for v1, v2 in svalores]
combinaciones

['3x2', '4x5', '1x1', '8x7', '2x0', '4x8']

### Funciones matemáticas

In [20]:
data = [5, 3, 2, 8, 9, 1]
sum(data)

28

In [21]:
data = [5, 3, 2, 8, 9, 1]
min(data)

1

In [22]:
data = [5, 3, 2, 8, 9, 1]
max(data)

9

### Listas de listas

In [23]:
portero = 'Casillas'
defensas = ['Capdevila', 'Pique', 'Puyol', 'Ramos']
mediocampistas = ['Xavi', 'Busquets', 'X. Alonso']
delanteros = ['Iniesta', 'Villa', 'Pedro']

In [24]:
equipo = [portero, defensas, mediocampistas, delanteros]
equipo

['Casillas',
 ['Capdevila', 'Pique', 'Puyol', 'Ramos'],
 ['Xavi', 'Busquets', 'X. Alonso'],
 ['Iniesta', 'Villa', 'Pedro']]

In [25]:
equipo[0] # portero

'Casillas'

In [26]:
equipo[1][0] # Lateral izquierdo

'Capdevila'

In [27]:
equipo[2] # Centrocampista

['Xavi', 'Busquets', 'X. Alonso']

In [28]:
equipo[3][1] # Delantero centro

'Villa'

### Funciones Built-in útiles para listas

In [39]:
lst = [12, 15, 13, 23, 22, 16, 17]  #Crear lista

In [30]:
lst.append(22) # Añade un nuevo item al final de la lista

In [31]:
lst.remove(13) # Borra el item 13 de la lista

In [32]:
lst. remove(30) # devuelve valueError porque 30 no esta en la lista

ValueError: list.remove(x): x not in list

In [33]:
lst.pop() # remueve el último item de la lista

22

In [34]:
lst.pop(3) # remueve el tercer item de la lista

22

In [35]:
lst.insert(3,21) # inserta el 21 en la tercera posición

In [36]:
lst.count(23) # devuelve el número de veces que aparece el numero 23 en la lista

1

In [40]:
idx = lst.index(22) # retorna el ìndice del item 22

In [41]:
idx1 = lst.index(50)

ValueError: 50 is not in list

### Tuplas

El concepto de tupla es muy similar al de lista. Aunque hay algunas diferencias menores, lo fundamental es que, mientras una lista es mutable y se puede modificar, una tupla no admite cambios y por lo tanto, es inmutable

In [43]:
empty_tuple = ()

tenerife_geoloc = (28.46824, -16.25462)

three_wise_men = ('Melchor', 'Gaspar', 'Baltasar')

### Tuplas de un elemento

In [44]:
one_item_tuple = ('Papá Noel')

In [45]:
one_item_tuple

'Papá Noel'

In [46]:
type(one_item_tuple)

str

Realmente. hemos creado una variable de tipo str (cadena de texto). Para crear una tupla de un elemento debemos añadir una coma al final:

In [47]:
one_item_tuple1 = ('Papá Noel',)

In [48]:
one_item_tuple1

('Papá Noel',)

In [49]:
type(one_item_tuple1)

tuple

### Tuplas sin paréntesis

In [50]:
one_item_tuple2 = 'Papá Noel',

In [51]:
three_wise_men2 = 'Melchor', 'Gaspar', 'Baltasar'

In [52]:
tenerife_geoloc2 = 28.46824, -16.25462

Modificar una tupla

Como ya hemos comentado previamente, las tuplas son estructuras de datos inmutables, no podemos modificarlas.

In [54]:
three_wise_men3 = 'Melchor', 'Gaspar', 'Baltasar'

In [55]:
three_wise_men[0] = 'Tom Hanks'

TypeError: 'tuple' object does not support item assignment

### Conversion

In [56]:
shopping = ['Agua', 'Aceite', 'Arroz']

In [57]:
tuple(shopping)

('Agua', 'Aceite', 'Arroz')

In [58]:
tuple(5)

TypeError: 'int' object is not iterable

In [59]:
tuple()

()

### Operaciones con tuplas

Con las tuplas podemos realizar todas las operaciones que vimos con listas salvo las que conlleven modificación "in-situ" de la misma:

* reverse()
* append()
* extend ()
* remove ()
* clear ()
* sort ()

### Desempaquetado de tuplas

In [60]:
three_wise_men = ('Melchor', 'Gaspar', 'Baltasar')

In [63]:
king1, king2, king3 = three_wise_men

In [64]:
king1

'Melchor'

In [65]:
king2

'Gaspar'

In [66]:
king3

'Baltasar'

intercambio de valores

In [67]:
valores = (40, 20)
valor1, valor2 = valores
valor1, valor2 = valor2, valor1
valor2

40

Desempaquetado extendido

In [68]:
ranking = ('G', 'A', 'R', 'Y', 'W')

In [69]:
head, *body, tail = ranking

In [70]:
head

'G'

In [71]:
body

['A', 'R', 'Y']

In [72]:
tail

'W'

Desempaquetado génerico

In [73]:
oxygen = '02'

In [74]:
first, last = oxygen

In [75]:
first, last

('0', '2')

Sobre cadenas de texto

In [76]:
text = 'Hello, World!'

In [77]:
head, *body, tail = text

In [78]:
head, body, tail

('H', ['e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd'], '!')

Sobre listas:

In [80]:
writer1, writer2, writer3 = ['Virginia Woolf', 'Jane Austen', 'Mary Shelley']

In [81]:
writer1, writer2, writer3

('Virginia Woolf', 'Jane Austen', 'Mary Shelley')

In [82]:
text = 'Hello, World!'

In [83]:
word1, word2 = text.split()

In [84]:
word1, word2

('Hello,', 'World!')

Concatenación de tuplas

In [88]:
tuple1 = (0, 1, 2, 3)
tuple2 = ('Geeks', 'For', 'Geeks')

tuple3 = tuple1 + tuple2

print("Tuple 1: ")
print(tuple1)

print("\ntuple2: ")
print(tuple2)

print("\nTuplas después de la concatenación: ")
print(tuple3)

Tuple 1:
(0, 1, 2, 3)

tuple2:
('Geeks', 'For', 'Geeks')

Tuplas después de la concatenación:
(0, 1, 2, 3, 'Geeks', 'For', 'Geeks')