# PRACTICA 21

### 1. Crea una tupla con números enteros con algunos de ellos repetidos, pide un numero por teclado e indica cuantas veces se repite si estuviese en la tupla.

In [1]:
tupla = (1, 2, 3, 4, 5, 2, 3, 4, 5, 2)

numero = int(input("Ingresa un número entero: "))

repeticiones = tupla.count(numero)

print("El número", numero, "se repite", repeticiones, "veces en la tupla.")

El número 5 se repite 2 veces en la tupla.

### 2. Crea una tupla con números e indica el número con mayor valor y el que menor tenga.

In [1]:
numeros = (3, 41, 12, 9, 74, 15, 62, 8, 23, 17)

print(f"El número con el mayor valor en la tupla es: {max(numeros)}")
print(f"El número con el menor valor en la tupla es: {min(numeros)}")

El número con el mayor valor en la tupla es: 74
El número con el menor valor en la tupla es: 3

### 3. Crea una tupla con valores ya predefinidos del 1 al 10, pide un índice por teclado y muestra los valores de la tupla.

In [2]:
tupla = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

indice = int(input("Introduce un índice entre 0 y 9: "))

if 0 <= indice < len(tupla):

    print("El valor en el índice", indice, "es:", tupla[indice])
else:
    print("El índice está fuera de rango.")

El valor en el índice 5 es: 6

### 4. Escribir un código donde se le pide al usuario almacenar en una tupla el día, mes y año (todos en formato entero) y luego que imprima dicha fecha en el formato: "03/07/2023"

In [4]:
dia = int(input("Ingresa el día: "))
mes = int(input("Ingresa el mes: "))
año = int(input("Ingresa el año: "))

fecha = (dia, mes, año)

print(f"{fecha[0]:02d}/{fecha[1]:02d}/{fecha[2]}")

### 5. Definir una tupla con tres valores enteros. Convertir el contenido de la tupla a tipo lista. Modificar la lista y luego convertir la lista en tupla.

In [2]:
tupla = (1, 2, 3)

lista = list(tupla)

lista.append(4)

tupla_modificada = tuple(lista)

print("Tupla modificada:", tupla_modificada)

Tupla modificada: (1, 2, 3, 4)

### 6. Crear una tupla y luego imprimirla en orden inverso en otra variable (otra tupla)

In [3]:
tupla_original = (1, 2, 3, 4, 5)

print("Tupla original:", tupla_original)
print("Tupla en orden inverso:", tupla_original[::-1])

Tupla original: (1, 2, 3, 4, 5)
Tupla en orden inverso: (5, 4, 3, 2, 1)

### 7 Dada la tupla: tuple1 = ("Orange", [10, 20, 30], (5, 15, 25)) Acceder al valor '20' e imprimir en una nueva variable

In [9]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

print("El valor '20' es:", tuple1[1][1])

El valor '20' es: 20

### 8. Escriba un programa para descomprimir la siguiente tupla en cuatro variables e imprimir cada variable. tuple1 = (10, 20, 30, 40)

Salida esperada:

tuple1 = (10, 20, 30, 40)

 Your code

print(a) # should print 10

print(b) # should print 20

print (c) # should print 30

print(d) # should print 40

In [6]:
tuple1 = (10, 20, 30, 40)

a, b, c, d = tuple1

print(a)
print(b)  
print(c) 
print(d)

10
20
30
40

### 9. Intercambiar dos tuplas en Python dados:

tuple1 = (11, 22)

tuple2 = (99, 88)

Salida esperada:

tuple1: (99, 88)

tuple2: (11, 22)

In [7]:
tuple1 = (11, 22)
tuple2 = (99, 88)

tuple1, tuple2 = tuple2, tuple1

print("tuple1:", tuple1)
print("tuple2:", tuple2)

tuple1: (99, 88)
tuple2: (11, 22)

### 10. ¿Cuántas veces aparece 777 en la siguiente tupla? Escribir código
tt =（55,6,777、54,6,76,7777.1,777,2,6）

In [8]:
tt = (55, 6, 777, 54, 6, 76, 7777, 1, 777, 2, 6)

# Contar cuántas veces aparece el valor 777 en la tupla
apariciones = tt.count(777)

# Imprimir el resultado
print("El valor 777 aparece", apariciones, "veces en la tupla.")

El valor 777 aparece 2 veces en la tupla.